<div class="column-display">
  <turbo-frame id="folder-list">
    <%= render template: "folders/index" %>
  </turbo-frame>

  <turbo-frame id="post-list"></turbo-frame>
  <turbo-frame id="post-detail"></turbo-frame>
</div>

<%= turbo_frame_tag :modal %>
