<div id="<%= dom_id folder %>" style="display:flex;justify-content:space-between;">
  <%= link_to folder.name, folder, data: {turbo_frame: "posts"} %>
  <%= button_to 'Destroy', folder, method: :delete, data: {turbo_confirm: 'Are you sure?'} %>
</div>
