<p style="color: green"><%= notice %></p>

<div id="folders" style="flex-grow:1;">
  <h1>Folders</h1>
  <%= render @folders %>
  <%= link_to "✚", new_folder_path %>
</div>

<div id="posts" style="flex-grow:1;">
  <h1>Posts</h1>
</div>

<div id="post" style="flex-grow:4;">
  <h1>Post</h1>
</div>

