<p style="color: green"><%= notice %></p>

<div class="column-display">
  <turbo-frame id="folder-list">
    <%= render "folders" %>
  </turbo-frame>

  <turbo-frame id="post-list">
    <h2>Posts</h2>
  </turbo-frame>

  <turbo-frame id="post-detail">
    <h2>Post</h2>
  </turbo-frame>
</div>

<%= turbo_frame_tag "modal" %>