<p style="color: green"><%= notice %></p>

<div class="column-display">
  <turbo-frame id="folders">
    <%= render "folders" %>
  </turbo-frame>

  <turbo-frame id="posts">
    <h1>Posts</h1>
  </turbo-frame>

  <turbo-frame id="post">
    <h1>Post</h1>
  </turbo-frame>
</div>

<%= turbo_frame_tag "modal" %>