<div aria-labelledby="modal-title" aria-modal="true"  role="dialog" class="modal-form">
  <div class="modal-screen-background">
    <div class="modal-form-background">
      <h2 id="modal-title"><%= modal_title %></h2>
      <%= yield %>
    </div>
  </div>
</div>
