// Entry point for your Sass build
@import 'actiontext.css';

.column-display {
  display: flex;
  turbo-frame {
    padding: 10px;
    border: 1px solid black;
    flex: 0 0 200px;
    &#post {
      flex: 1 1 auto;
    }
  }
}