/* Format navigation */
nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
  a {
    margin: 1rem 1rem 0 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text) !important;
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
      color: var(--accent) !important;
      border-color: var(--accent);
    }
    &.current:hover {
      text-decoration: none;
    }
  }
}


